<form action="/admin" method="POST">
  <h1>Test Celery Task</h1>
  <p>Kick off a Celery task that does pretend work and logs messages about it.</p>

  <p>
    <label for="work_for">Work for:</label>
    <input type="number" min="1" value="10" id="work_for" name="work_for" />
    seconds.
  </p>

  <p><button type="submit">Work</button></p>
</form>
